{% extends 'layouts/module_admin.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="DeviceMonitor">{{ _('Device Monitor')}}</a></li>
{% endblock %}

{% block module %}
<div class="container-fluid">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    <div class="row">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="mb-0">{{ _('Settings')}} Device Monitor</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('DeviceMonitor.module') }}">
                        <input type="hidden" name="action" value="update_settings">
                        <div class="form-group mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="allow_shell_commands" name="allow_shell_commands" {% if allow_shell_commands %}checked{% endif %}>
                                <label class="form-check-label" for="allow_shell_commands">{{ _('Allow execution of shell-commands')}}</label>
                            </div>
                            <small class="form-text text-muted"><span class="badge bg-danger">{{ _('Warning!!!')}}</span>  {{ _('Enabling shell commands allows arbitrary commands to be executed on the system as specified in the device actions. Use with caution, especially if the process is running as root, as this may result in malicious code being executed.')}}</small>
                        </div>
                        <button type="submit" class="btn btn-success">{{ _('Submit')}}</button>
                        <a href="{{ url_for('DeviceMonitor.module') }}" class="btn btn-secondary">{{ _('Close')}}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}